html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    #8e44ad,
    #3498db
  ); /* 화려한 그라데이션 배경 */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* 모던한 폰트 */
  color: #ffffff;
}

/* 컨테이너 스타일 */
.statistics-container {
  display: flex;
  flex-direction: column; /* 수직 방향으로 설정 */
  align-items: center; /* 중앙 정렬 */
  background: rgba(255, 255, 255, 0.1); /* 투명도 있는 배경 */
  padding: 20px; /* 패딩 조정 */
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* 깊이감 있는 그림자 */
  width: 90%;
  max-width: 1000px; /* 최대 너비 조정 */
  overflow: hidden; /* 스크롤바 숨기기 */
}

/* 정답률 컨테이너 스타일 */
.answer-rate-container {
  margin-bottom: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2); /* 반투명한 배경 */
  padding: 15px; /* 패딩 조정 */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* 정답률 컨테이너 그림자 */
  backdrop-filter: blur(5px); /* 배경 흐리기 효과 */
  width: 100%; /* 가로 너비를 100%로 설정 */
  max-width: 800px; /* 최대 너비 조정 */
}

/* 정답률 텍스트 스타일 */
.answer-rate-container h3 {
  font-size: 24px; /* 폰트 크기 조정 */
  margin: 0 0 10px;
  color: #f1c40f; /* 강조된 텍스트 색상 */
}

.answer-rate-container p {
  font-size: 20px; /* 폰트 크기 조정 */
  margin: 0;
}

/* 그래프 컨테이너 스타일 */
.chart-container {
  display: flex;
  width: 100%;
  max-width: 800px; /* 최대 너비 조정 */
  height: 400px; /* 높이 조정 */
  background: rgba(0, 0, 0, 0.2); /* 반투명한 배경 */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); /* 차트 컨테이너 그림자 */
  backdrop-filter: blur(10px); /* 배경 흐리기 효과 */
  justify-content: space-between; /* 그래프를 수평으로 배치 */
  overflow: hidden; /* 오버플로우 숨기기 */
}

/* 개별 그래프 스타일 */
.chart-container > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px; /* 그래프 사이의 간격 조정 */
  min-width: 0; /* 최소 너비를 0으로 설정하여 그래프가 제대로 표시되도록 함 */
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .statistics-container {
    padding: 10px; /* 패딩 조정 */
  }

  .answer-rate-container {
    padding: 10px; /* 패딩 조정 */
  }

  .answer-rate-container h3 {
    font-size: 20px; /* 폰트 크기 조정 */
  }

  .answer-rate-container p {
    font-size: 16px; /* 폰트 크기 조정 */
  }

  .chart-container {
    height: 300px; /* 높이 조정 */
    flex-direction: column; /* 모바일에서는 수직 방향으로 변경 */
  }

  .chart-container > div {
    margin: 10px 0; /* 그래프 사이의 간격 조정 */
  }
}

/* Wrapper for charts to control size */
.chart-wrapper {
  width: 100%; /* 원하는 너비로 조정 */
  height: 500px;
  margin-bottom: 20px;
}
