.lastWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LastBox {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LastBox h1 {
  padding-top: 200px;
}
.LastBox .logoImg {
  width: 90%;
  height: 90%;
  overflow: hidden;
  margin-left: 30px;
}
