.MainWrapper {
  width: 100%;
  height: 100vh; /* 전체 화면 높이 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    #ffcec7 0%,
    #fff4cc 66%,
    #fff3c9 69%,
    #ffffff 96%
  );
  cursor: pointer;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.carousel.slide {
  transform: translateY(-100%); /* 슬라이드 위로 이동 */
}

.ImageWrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17%;
}
.ImageWrapper img {
  width: 100%;
  height: 100%;
  position: relative;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(20%);
}

.TextWrapper {
  position: absolute;
  top: 5%;
}
