.VocabListContainer {
  width: 100%;
}
.MyVocab {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.VocabList .wordList_section .word_list_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.VocabList .Paginationsection {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  list-style-type: none;
}

.pagination a,
.pagination__previous,
.pagination__next {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  color: #333;
  width: 20px;
}

.pagination .active a {
  background-color: #007bff;
  color: white;
}

.pagination .disabled a {
  color: #ccc;
  pointer-events: none;
}
