.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank-card {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
}

.rank-card h2 {
    margin:10px;
    font-size: 18px;
    color: #333;
}
