@font-face {
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}
body {
  font-family: "NanumPenscript";
  display: flex;
  margin: 0;
  width: 100%;
  background-color: #efefef;
}
#root {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0px 20px;
}
